[Unit]
Description = {{ _rpi_setup_docker_service.pretty_name }} service with Docker
Requires = {{ ((rpi_setup_docker_services_base_systemd_dependencies | d([], true)) + (_rpi_setup_docker_service.systemd_dependencies | d([], true))) | join(' ') }}
After = {{ ((rpi_setup_docker_services_base_systemd_dependencies | d([], true)) + (_rpi_setup_docker_service.systemd_dependencies | d([], true))) | join(' ') }}

[Service]
Type = oneshot
RemainAfterExit = true
WorkingDirectory = {{ _rpi_setup_docker_service.project_path }}
{%- if 'docker_dynamic_env' in _rpi_setup_docker_service and _rpi_setup_docker_service.docker_dynamic_env -%}
ExecStart = "source dynamic_env.sh ; /usr/bin/docker compose up -d --remove-orphans"
{%- else -%}
ExecStart = "/usr/bin/docker compose up -d --remove-orphans"
{%- endif -%}
ExecStop = "/usr/bin/docker compose down"
Restart = no

[Install]
WantedBy = multi-user.target
